body{
  /* background-color: rgb(230, 230, 230); */
  color: black;
  padding: none;
}
.navwrap {
  text-align: center;
  width: 100%;
}


.navwrap-blog{
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.treeimg {
  width: 100%;
  padding: 4rem;
  padding-top: 2rem;
}


h6{
font-family: work-sans;
font-size: 12px;
}

.center2{
  margin: auto;
  text-align: center;
}

.right{
  text-align: right;
}

.hidden {
display:none;
}
.giphy-embed{
  background-size: 230% 230%;
}


.artdiv{
  display:inline-flex;
}

#link1{
display: center;
}
#overlay{
  background:rgba(0,0,0,0.7);
  display:none;
  text-align:center;
  width: 30%;
}
h1 {
  margin-bottom: 0px;
}

#img1, #img2, #img3, #img4{
  width: 100%;
  margin: auto;
  text-align:center;
}







.video-container {
  position: relative;
  margin: 4%;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  }
   
  .video-container iframe,
  .video-container object,
  .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

.col a {
  height: 100%;
}
.mini-image{
max-width: 60%;
max-height: 60%;
margin: auto;
margin-top: 50px;
box-shadow: 15px 15px 15px #333333;
}


.mini-image2{
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  margin-top: 50px;
  box-shadow: 15px 15px 15px #333333;
  }

.space {
  margin-top:55px;
}

.halfspace {
  margin-top:35px;
}


.doublespace {
  margin-top:110px;
}

.footernav {
bottom: 15px;
margin-top: 50px;
font-family: neue-haas-grotesk-display, sans-serif;
margin-bottom: 25px;
}

.col-8{
  overflow: visible;
}
.row {
  width: 103%;
  justify-content: space-evenly;
}

.rowspace {
  margin-bottom:5%;
}



.row .project {
  display: flex;  
   flex-wrap: wrap;
}

.currentpage {
  text-decoration: underline;
padding: 14px;

  }

.notcurrentpage {
  padding: 14px;
  }



.red {
text-decoration-line: underline;
color: cornflowerblue;
}
.center{
margin-left: 15%;
}

.albumbucket{
text-align: center;
}

.border03{
width: inherit;
  margin-top: 15px;
  height: 1px;
  background: #E500FF;
background: -moz-linear-gradient(left, #E500FF 0%, #1B00FF 50%, #00E2FF 100%);
background: -webkit-linear-gradient(left, #E500FF 0%, #1B00FF 50%, #00E2FF 100%);
background: linear-gradient(to right, #E500FF 0%, #1B00FF 50%, #00E2FF 100%);
  
  background-size: 100% 20px, 100% 15px;
border-color: white;
}

.rainbow-text {
background-image: linear-gradient(to left, cyan, blue, violet);   -webkit-background-clip: text; background-clip: text;
color: transparent;
}

.heading strong, .heading-blog strong {
font-family: benton-modern-display, serif;
font-weight: 300;
font-style: normal;
font-size: 55px;
text-align: center;
line-height: 1.5;
}

p {
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 300;
font-size: 14px;
}


a{
  color: black;
  text-decoration: none;
  letter-spacing: .5px;
}


.line {
  border-color: #505050;
}




.middle {
width: 40%;
}

.title {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 200;
  font-size: 52px;
  margin-top: 55px;
  margin-bottom:33px;
  text-align:center;
  letter-spacing: 1px;

}

.icons {
  font-size: 17px;
  letter-spacing: 2px;
}



/* social media icons */

/* font awesome icons */
.fab, .far, .fas{
  text-decoration: none;
}



#social-icons {
  color: #605D63;
  justify-content: center;
  text-align: center;
}

.social-icons {
  color: cornflowerblue;
}


@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.heading {
  /* font-family: neue-haas-grotesk-display, sans-serif; */
  font-family: work-sans;
  font-weight: 500;
  color: #415161;
  font-size: 2em;
  text-align:left;
  letter-spacing: 1px;
  margin-top: 15px;
}


.heading-blog {
  /* font-family: neue-haas-grotesk-display, sans-serif; */
  font-family: futura-pt;
  font-weight: 500;
  color: #415161;
  font-size: 2em;
  display: inline;
  text-align:left;
  letter-spacing: 1px;
  margin-right: 65%;
}

.blogpage-title{
  font-family: futura-pt;
  margin-top: 20px;
}

.headingEDIT {
  /* font-family: neue-haas-grotesk-display, sans-serif; */
  font-family: work-sans;
  font-weight: 500;
  color: #415161;
  font-size: 2em;
  text-align:center;
  letter-spacing: 1px;
  margin-top: 35px;

  margin-bottom: 15px;
}

.homeheading {
  font-family: futura-pt; 
  font-weight: 300;
  font-size: 1.3rem;
  text-align:left;
  margin-top: 10px;
  margin-bottom: 10px;
}


.special {
  font-size: 1.8em;
}



.special2 {
  font-size: 1.5em;
}

#bobmap {
  text-align: center;
  margin-left: -10%;
}

.heading a {
  color: black;
}

.headingabout {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 200;
  font-size: 36px;
  text-align:left;
  letter-spacing: 2px;
}

.headingabout a {
text-decoration: underline;
  letter-spacing: 0px;
  color: grey;
  font-size: 17px;
  margin: 0px;
}

.hero-deets {
list-style: none;
margin-left: 0px;
margin-top: 15px;
text-align: center;
}


.hero-deets li{
/* font-family: neue-haas-grotesk-display, sans-serif; */
font-family: futura-pt;
font-weight: 200;
/* letter-spacing: 2px; */
font-size: 16px; 

text-align: center;
padding-top: 15px;
padding-right: 25px;
margin: auto;
display: inline;
}

.hero {
margin-bottom: 20px;
}

.hero p {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  font-family: work-sans;
  color: #415161;
}

.hero-blog p{
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #415161;
}

.herog p {
font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 200;
letter-spacing: 2px;
font-size: 16px;
margin-bottom: 20px;
}

.heroabout p {

  font-size: .9em;
  line-height: 1.6;
  font-weight: 500;
  font-family: work-sans;
  color: #415161;
}

.heroabout p strong{

  font-size: 1.1em;
  line-height: 1.6;
  font-weight: 400;
  font-family: work-sans;
  color:cornflowerblue;
}
.hero p strong{

  font-size: 1.1em;
  line-height: 1.6;
  font-weight: 500;
  font-family: work-sans;
  color: #415161;
}
.herog ul strong{

  font-size: 1.1em;
  line-height: 1.6;
  font-weight: 500;
  font-family: work-sans;
  color: #415161;
}

.hero li strong{

  font-size: 1.1em;
  line-height: 1.6;
  font-weight: 500;
  font-family: work-sans;
  color: #415161;
}




/*********** HERO SCROLLING ***************** /
/*********** HERO SCROLLING ***************** /
/*********** HERO SCROLLING ***************** /
/*********** HERO SCROLLING ***************** /





/*Sections*/
.sec-services {
position: relative;
max-width: 100%;
max-height: 100%;
margin-top: 100px;
padding: 6em 0;
color: black;
background: #81cbd4;
background-size: cover;
}

.portfolio-img {
max-width:100%;
margin-bottom: 15px;
}

.sec p {
font-size: 14px;

font-family: neue-haas-grotesk-display, sans-serif;
/* font-family: open-sans, sans-serif; */
}

.sec strong {
font-family: neue-haas-grotesk-text, sans-serif;
font-weight: bold;
}

.sec i {
display: block;
margin: auto;
width: 50px;
}

.sec h1 {
  font-size: 1.4rem;
font-family: work-sans;
font-weight: 400;
margin-bottom: 12px;
color: #415161;
}

/* .sec h2 {
margin: 1em 0;
} */

.sec h3 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.2rem;
color: darkgrey;
}

/*folio*/

.sec-brainstorming .row div{
justify-content: space-evenly;
height: 23%
}



/* INSPIRATIONS */

.sec-inspirations {
position: relative;
max-width: 100%;
max-height: 100%;
color: black;
background: white;
background-size: cover;
}

.sec-inspirations p {
  font-size: .9em;
  line-height: 1.6;
  font-weight: 400;
  font-family: work-sans;
  color: #415161;
}

.sec-inspirations .row div{
justify-content: space-evenly;
height: 23%
}

.sec-inspirations q{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 15px;
color: #605D63;
text-align: left;
font-style: italic;

}


.margin {
padding-left: 22%;
padding-right: 22%;
}

.sec-inspirations .author{
text-align: right;
letter-spacing: 0px;
font-size: 16px;
color: darkgrey;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.wordcloud{
text-align: center;
margin-top: 35px;
display: flex;
flex-wrap: wrap;
}

.word1 {
display: inline-flex;
color: black;
background-color: lightgrey;
border-radius: 18px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 35px;
  padding: 13px;
}

.word2 {

display: inline-flex;
color: black;
background-color: lightblue;
border-radius: 18px;
margin-left: 5px;
  margin-right: 5px;
  margin-top: 35px;
  padding: 13px;
}

.word3 {

display: inline-flex;
color: black;
background-color: lavender;
border-radius: 18px;
margin-left: 5px;
margin-right: 5px;
margin-top: 35px;
  padding: 13px;
}


/* LEARNED */


.sec-learned {
max-width: 100%;
max-height: 100%;
padding: 6em 0;
color: black;
background: lavender;
background-size: cover;
}

.sec-learned h3 {
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
}

.sec-learned p {
  font-size: 1.1em;
  line-height: 1.6;
  font-weight: 400;
  font-family: work-sans;
  color: #415161;
}


/***** FORWARD ******/


.sec-forward {
position: relative;
max-width: 100%;
max-height: 100%;
padding: 6em 0;
color: white;
background: #013220;
background-size: cover;
}

.sec-forward p {
font-family: neue-haas-grotesk-display, sans-serif;
font-size: 20px;
letter-spacing: 2px;
}

.about-img {
width: 100%;
box-shadow: 15px 15px 15px #333333;
margin-top: 5px;
padding: none;
margin-bottom: 0px;
}






/************ CUSD ***************/

/************ CUSD ***************/

/************ CUSD ***************/

/************ CUSD ***************/

/************ CUSD ***************/





.sec-cusd-prompt {
position: relative;
max-width: 100%;
max-height: 100%;
padding: 6em 0;
color: white;
background: maroon;
background-size: cover;
}


.sec-cusd-research {
position: relative;
max-width: 100%;
max-height: 100%;
padding: 7em 0;
color: black;
background: #EDF9F9;
background-size: cover;
}

.sec-cusd-research h1{
letter-spacing: 1px;
}


.sec-cusd-bg {
position: relative;
max-width: 100%;
max-height: 100%;
color: black;
background: whitesmoke;
background-size: cover;
}



.sec-cusd-bg p {
margin-top: 15px;
font-size: 20px;

letter-spacing: 2px;
}

.sec-cusd-bg .row div{
justify-content: space-evenly;
height: 23%
}

.sec-writing {
position: relative;
max-width: 100%;
max-height: 100%;
padding: 2em 0;
color: black;
background: white;
background-size: cover;
}

.sec-writing h2{
color: darkgrey;
font-size: 22px;
font-weight: normal;
}

.sec-writing p {
font-family: neue-haas-grotesk-display, sans-serif;
font-size: 18px;
letter-spacing: 2px;
}

.button {
font-size: 12px;
border-style: solid;
color: cornflowerblue;
border-color: cornflowerblue;
border-radius: 6px;
padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
border-width: 1px;
margin: auto;
text-align: center;
}

.button:hover{
background-color: cornflowerblue;
color:white;
text-decoration: none;

}

.reelphoto{
object-fit: cover;
}

body{
  width: 70%;
  margin: auto;
}

.blog-container ol b {
  font-family: futura-pt;
  font-size: 18px;
  color: #415161;
}

.blog-container ol li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  color: #415161;
}


/********* DESKTOP STYLING **********/
/********* DESKTOP STYLING **********/
/********* DESKTOP STYLING **********/
/********* DESKTOP STYLING **********/
/********* DESKTOP STYLING **********/
/********* DESKTOP STYLING **********/

  .navBarMobile{
    display:none;
  }

  .page_wrapper {
    width:90%;
    max-width:850px;
    margin:auto;
    background-color: white;
  }
  
  .secline {
    border-color: #e6e9eb;
    border-width:1px;
    margin-top: -5px;
}


  /***** NAV *******/

  .desktopNav {
    margin-top: 10px;
    padding: none;
    margin-left: inherit;
  }

  .desktopNav a, .desktopNav-blog a {
    font-size:18px;
    font-family: futura-pt;
    font-weight: 400;
    color: cornflowerblue;
    text-decoration: none;
    /* word-spacing: 30px; */
    padding: 14px;
  }

  .desktopNav li {
    list-style-type: none;
    display:inline-block;
    padding: none;
  }

  .desktopNav-blog li{
    list-style-type: none;
    display:inline-block;
    padding: none;
    position: relative;
    white-space:nowrap
  }

  



  .desktopNav-blog {
    display: inline-block;
    white-space:nowrap;
  }

  .blog-wrap{
    display:inline;
  }


  .dropdown-content{
    display: inline-block;
  }

  .desktopNav a:hover,header a:hover, .sec-writing a:hover{
    text-decoration: underline;
  }

  .inlineTextLink {
    color: cornflowerblue;
    font-weight: 400;
  }

  #social-icons a:hover {
    -webkit-animation:rainbow 1s infinite;
    -ms-animation:rainbow 1s infinite;
    -o-animation:rainbow 1s infinite;
    animation:rainbow 1s infinite;
    }
    @-webkit-keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
    }
    @-ms-keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
    }
    @-o-keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
    }
    @keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
    }



  .logo {
    vertical-align: text-bottom;
  }

  @import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
  
  
  body {
    font-family: 'DM Sans', sans-serif;
  }
  



/**** FADE IN******/

#fadein2{

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 5s; /* Firefox < 16 */
      -ms-animation: fadein 5s; /* Internet Explorer */
       -o-animation: fadein 5s; /* Opera < 12.1 */
          animation: fadein 5s;
}




#fadein{

  -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 8s; /* Firefox < 16 */
      -ms-animation: fadein 8s; /* Internet Explorer */
       -o-animation: fadein 8s; /* Opera < 12.1 */
          animation: fadein 8s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}








/***********INDEX **********/
  .showcase {
    margin-top: 60px;
    font-family: futura-pt;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    transition-duration: .5s;
  }
  


  .project-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    display: block;
    pointer-events: none;
    text-align: center;
box-shadow: 4px 6px 6px #999999;
  }


  
  .project {
    width: auto;
    height: auto;
    flex-shrink: 1;
    margin: 0 3%;
    height: 27%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    left: 0;
    transition: .4s;
    top: 0;
    position: relative;
  }

  
  
  .project-name {
    position: absolute;
    margin-left:0px;
    font-family: futura-pt;
    font-size: 1.2vw;
    font-weight: 500;
    width: 300px;
    text-align: left;
    margin-top: 12px;
    color: black;
    opacity: 1;
  }


  .blog-date{
    margin-top: 20px;
    margin-left:0px;
    margin-bottom: 0px;
    font-family: futura-pt;
    width: 300px;
    font-size: 11px;
    font-weight: 400;
    color: black;
    letter-spacing:1px;
    opacity: 1;
  }


  .blog-title {
    position: absolute;
    margin-left:0px;
    font-family: futura-pt;
    font-size: 20px;
    font-weight: 600;
    width: 300px;
    text-align: left;
    margin-top: 6px;
    color: black;
    opacity: 1;
  }

  .blog-caption{
    margin-top: 20px;
    margin-left:0px;
    margin-bottom: 0px;
    font-family: Tinos;
    width: 300px;
    font-size: 15px;
    font-weight: 400;
    color: black;
    opacity: 1;
  }

.blog-container{
  margin:4rem;
}

  .project-subname {
    margin-top: 35px;
    margin-left:0px;
    font-family: futura-pt;
    width: 300px;
    font-size: 1vw;
    font-weight: 400;
    color: black;
    letter-spacing:1px;
    opacity: 1;
  }


  .project-names {
    position: absolute;
    margin-left:0px;

    font-family: futura-pt;
    font-size: 16px;
    font-weight: 500;
    width: 300px;
    text-align: left;
    margin-top: 10px;
    color: black;
    opacity: 1;
  }


/***********   PROJECTS     ***********/
/***********   PROJECTS     ***********/
/***********   PROJECTS     ***********/
/***********   PROJECTS     ***********/
/***********   PROJECTS     ***********/

.thumb-img {
width: 50%;
margin-top: 5px;
}

.thumb1-img {
width: 90%;
margin-top: 5px;
}

.thumb2-img {
width: 48%;
display: inline-flex;
padding:10px;
}



.hero-deets {
  list-style: none;
  margin-left: 0px;
  margin-top: 15px;
  text-align: center;
  }
  
  
  .hero-deets li{
  font-family: futura-pt;
  font-weight: 200;
  font-size: 17px; 
  text-align: center;
  display: inline-block;
  }






.hero-img {
width: 100%;
box-shadow: 15px 15px 15px #333333;
margin-top: 5px;
}


/********** Scrolling **************/
/********** Scrolling **************/
/********** Scrolling **************/
/********** Scrolling **************/
/********** Scrolling **************/



section {
height: 18vh;
width: 100%;
display: table;
}



.scroll-message{
margin-top: 10px;
font-family: work-sans, sans-serif;
font-size: 18px;
color: darkgrey;
text-align: center;
}

.scrolled {
margin-top: 70px;
width: auto;
}


.scroll-down {
color: black;
opacity: 1;
-webkit-transition: all .5s ease-in 3s;
transition: all .5s ease-in 3s;
}

.scroll-down {
position: relative;
bottom: 15px;
left: 50%;
margin-left: -22px;
display: block;
width: 32px;
height: 32px;
color: black;
border: 2px solid black;
background-size: 14px auto;
border-radius: 100%;
z-index: 2;
-webkit-animation: bounce 2s infinite 2s;
animation: bounce 2s infinite 2s;
-webkit-transition: all .2s ease-in;
transition: all .2s ease-in;
transform: scale(1)
}

.scroll-down:before {
color: black;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid black;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
0%,
100%,
20%,
50%,
80% {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
40% {
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}
60% {
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}

}
#link1, #link2, #link3, #link4, #link5, #link6, #link7{
text-decoration: underline;
color: #415161;

} 


.project2 {
width: inherit;
color: darkgrey;
text-align: left;
padding-left: none;
padding-right: none;
}

.showcase2 .project {
margin-right: 2.2%;
}

.project2 q{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 22px;
color: #605D63;
text-align: left;

}


.author{
text-align: right;
font-family: Georgia, 'Times New Roman', Times, serif;
}


.blog-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  box-shadow: 2px 2px 2px 1px #e1e1e1;
  
}




/********** MOBILE STYLING ************/
/********** MOBILE STYLING ************/
/********** MOBILE STYLING ************/
/********** MOBILE STYLING ************/
/********** MOBILE STYLING ************/
/********** MOBILE STYLING ************/
/********** MOBILE STYLING ************/
/********** MOBILE STYLING ************/
/********** MOBILE STYLING ************/
/********** MOBILE STYLING ************/
@media only screen and (max-device-width: 768px) {

  .blog-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  box-shadow: 2px 2px 2px 1px #e1e1e1;
  
}

.navwrap-blog{
  text-align: center;
  width: 100%;
}


.blog-container{
  margin:0rem;
}

.homeheading {
  display: none;
}
 
.content {
  display: none;
}
.treeimg {
  width: 100%;
  padding: 10px;
}

.scroll-message {
  display:none;
}

.hidedis{
display: none;
}


#link1, #link2, #link3, #link4, #link5, #link6, #link7{
  text-decoration: none;
} 
#video2{
display:none;
}


body{
  width: 90%;
  margin: auto;
}


.photodiv {
display:none;
}

.currentpage {
  text-decoration: underline;
}
.secline {
display: none;
border-color: white;
}

.desktopNav, .desktopNav-blog{
display: flex;
flex-direction: row;
}

.desktopNav .container .desktopNav-blog{
justify-content: space-evenly;
display: inline;
white-space: nowrap;
}

.desktopNav a, .desktopNav-blog a{

display:inline;
padding:none;
}

.desktopNav li, .dropdown-content, .desktopNav-blog li{
  display: block;
}


.hero-img {
  width: 100%;
  box-shadow: 15px 15px 15px #333333;
  margin-top: 5px;
}

.babel-hide{
  display:none;
}


.showcase {
font-family: futura-pt;
align-items: center;
display: block;
transition-duration: .5s;
}




.headingabout {
font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 200;
font-size: 36px;
text-align:right;
letter-spacing: 2px;
}

.headingabout a {
letter-spacing: 0px;
text-decoration: underline;
font-size: 15px;
margin: 0px;
}

.hero-deets {
  list-style: none;
  margin-left: 0px;
  margin-top: 25px;
  text-align: center;
  padding: 0px;
  }

  .hero-deets ul{
    list-style: none;
  }
  
  
  .hero-deets li{
  /* font-family: neue-haas-grotesk-display, sans-serif; */
  font-family: futura-pt;
  font-weight: 200;
  /* letter-spacing: 2px; */
  font-size: 16px; 
  text-align: center;
  padding: 0px;
  margin: 0px;
  display: block;
  }


}

